<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale-1, shrinl-to-fit=no"charset="utf-8">
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: 'top' %>

    <%= login_helper %>


    <%#= render 'layouts/navigation' %>
    <%= yield %>

    <%= copyright_generator %>

    <%= source_helper("application layout")%>
  </body>
</html>
